<footer class="text-center mt-5">

    <div data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="2000" data-aos-once="true">
        <h2 id="contact" class="fs-1 mt-5 mb-5 sub-headings">Contact</h2>

        <p class="fs-3">
            <strong>
                Let's create your next experience together
            </strong>
        </p>
    </div>
    <a class="fs-4" href="malito:gentlesadrean123@gmail.com">gentlesadrean123@gmail.com</a>
    <p>Made with
        <i class="fas fa-heart text-danger"></i>
        by Adrean Gentles
    </p>
</footer>